[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
django-bootstrap-form = "*"
reportlab = "*"
xhtml2pdf = "*"
xlwt = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
