{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}


{% block main %}
    <h2>Funcionário</h2>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
<br>
<h2>Documentos</h2>
<br>
<ul class="list-group">
{% for documento in object.documento_set.all %}
    <li class="list-group-item"><a href="{{ documento.arquivo.url }}">{{ documento }}</a>
    </li>

{% endfor %}
</ul>
<br>
<a href="{% url 'create_documento' object.id %}" class="btn btn-dark">Adicionar Documento </a>

<br>
<br>
<h2>Banco de Horas: {{ object.total_horas_extra }}</h2>
<br>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Motivo</th>
            <th>Horas</th>
            <th>Utilizada?</th>
        </tr>
    </thead>

    <tbody>
        {% for registro_hora in object.registrohoraextra_set.all %}
        <tr>
            <th scope="row">{{ registro_hora.id }}</th>
            <td><a href="{% url 'update_hora_extra' registro_hora.id %}">
                {{ registro_hora.motivo }} </a>
            </td>
            <td>{{ registro_hora.horas }}</td>
            <td>{{ registro_hora.utilizada }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<a href="{% url 'create_hora_extra_funcionario' object.id %}" class="btn btn-dark">Adicionar Hora Extra </a>
{% endblock %}

{% block static %}
    <script src=" {% static 'js/jquery.js' %} "></script>
    <script src=" {% static 'js/funcoes.js' %} "></script>
{% endblock %}