{% extends 'base.html' %}

{% block main %}
        Seja Bem Vindo à {{ usuario.funcionario.empresa.nome }}
<br>
<br>
        <div class="row">
                <div class="col-sm">
                       <strong> Olá {{ usuario.funcionario.nome }} </strong>
                        <br>

                </div>
                <div class="col-sm">
                        <br>
                        <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionários</a>
                        <br>
                        <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
                        <br>
                        <a href="{% url 'list_hora_extra' %}">Gerenciar Banco de Horas</a>
                </div>
                <div class="col-sm">
                        <a href="{% url 'logout' %}">Logout</a>
                        <br>
                        <br>
                        {% if usuario.funcionario.empresa %}
                              <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empesa</a>
                        {% else %}
                               <a href="{% url 'create_empresa' %}">Criar Empesa</a>
                        {% endif %}
                </div>
        </div>
{% endblock %}